<h2 class="text-center">Pilots</h2>
<button class="btn btn-secondary" (click)="goBack()">Back</button>
<a class="btn btn-primary" href="/pilots/0">Add</a>

<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Date of Birth</th>
      <th scope="col">Experience</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pilot of pilots">
      <th scope="row">{{pilot.id}}</th>
      <td>
        <a routerLink="/pilots/{{pilot.id}}">{{pilot.firstName}}</a>
      </td>
      <td>
        <a routerLink="/pilots/{{pilot.id}}">{{pilot.lastName}}</a>
      </td>
      <td>{{pilot.dateOfBirth | date: shortDate }}</td>
      <td>{{pilot.experience}}</td>
      <td>
        <button class="btn btn-default" routerLink="/pilots/{{pilot.id}}">
          <i class="fas fa-edit"></i>
        </button>
        <button class="btn btn-default" (click)="delete(pilot)">
          <i class="fas fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>