<div *ngIf="stewardess">

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group col-md-6">
      <h2 *ngIf="stewardess.id" class="text-center">{{stewardess.firstName | uppercase}} Details</h2>
      <h2 *ngIf="!stewardess.id" class="text-center">New Stewardess</h2>
    </div>
    <div class="form-group col-md-6">
      <label for="id">Id</label>
      <input id="id" [formControl]="form.get('id')" type="number" placeholder="id" class="form-control" required readonly />
    </div>
    <div class="form-group col-md-6">
      <label for="firstName">First Name</label>
      <input id="firstName" [formControl]="form.get('firstName')" type="text" placeholder="first name" class="form-control" required/>
    </div>
    <div class="form-group col-md-6">
      <label for="lastName">Last Name</label>
      <input id="lastName" [formControl]="form.get('lastName')" type="text" placeholder="last name" class="form-control" required />
    </div>
    <div class="form-group col-md-6">
      <label for="dateOfBirth">Date of birth</label>
      <input id="dateOfBirth" [formControl]="form.get('dateOfBirth')" type="date" placeholder="date of birth" class="form-control" required />
    </div>
    <div class="form-group col-md-6">
      <label for="experience">Crew Id</label>
      <input id="experience" [formControl]="form.get('crewId')" type="number" placeholder="crew id" class="form-control" required />
    </div>
    <div class="form-group col-md-6">
      <button *ngIf="stewardess.id" type="submit" class="btn btn-primary" [disabled]="!form.valid">Update</button>
      <button *ngIf="!stewardess.id" type="submit" class="btn btn-primary" [disabled]="!form.valid">Create</button>
      <button class="btn btn-danger" (click)="delete(stewardess)">Delete</button>
      <button class="btn btn-secondary" (click)="goBack()">Back</button>
    </div>
  </form>
</div>